Service References/ServiceReference1/BudgetApplication1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBudgetPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stationCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BudgetYear" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBudgetPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBudgetPackageResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBudgetPackageSoapIn">
    <wsdl:part name="parameters" element="tns:GetBudgetPackage" />
  </wsdl:message>
  <wsdl:message name="GetBudgetPackageSoapOut">
    <wsdl:part name="parameters" element="tns:GetBudgetPackageResponse" />
  </wsdl:message>
  <wsdl:portType name="BudgetApplicationSoap">
    <wsdl:operation name="GetBudgetPackage">
      <wsdl:input message="tns:GetBudgetPackageSoapIn" />
      <wsdl:output message="tns:GetBudgetPackageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BudgetApplicationSoap" type="tns:BudgetApplicationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBudgetPackage">
      <soap:operation soapAction="http://tempuri.org/GetBudgetPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BudgetApplicationSoap12" type="tns:BudgetApplicationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBudgetPackage">
      <soap12:operation soapAction="http://tempuri.org/GetBudgetPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BudgetApplication">
    <wsdl:port name="BudgetApplicationSoap" binding="tns:BudgetApplicationSoap">
      <soap:address location="http://10.1.254.10/Home/WebService/BudgetApplication.asmx" />
    </wsdl:port>
    <wsdl:port name="BudgetApplicationSoap12" binding="tns:BudgetApplicationSoap12">
      <soap12:address location="http://10.1.254.10/Home/WebService/BudgetApplication.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>